* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  width: 100vw;
  height: 50px;
  background: #3B5998;
  display: flex;
  overflow: hidden;
}
nav ul {
  flex: 1;
  display: flex;
}
nav ul .search-section {
  display: flex;
  position: relative;
  align-items: center;
  width: 430px;
}
nav ul .search-section input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 0 0 0 10px;
  height: 30px;
  font-family: "Raleway", sans-serif;
}
nav ul .search-section .fa-search {
  position: absolute;
  right: 0;
  color: #555;
  padding: 7px 14px;
  background: #F3F3F3;
}
nav ul .search-section .fa-facebook-f {
  color: #3B5998;
  background: #FFF;
  padding: 5px 3px 0 10px;
  font-size: 25px;
  border-radius: 2px;
  margin: 0 5px;
}
nav ul .right_side_nav {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}
nav ul .right_side_nav .section {
  flex: 1;
  display: flex;
}
nav ul .right_side_nav .section b {
  color: #FFF;
  border-right: 1px solid #000;
  margin: 0 0 0 12px;
  padding-right: 10px;
  font-family: "Raleway", sans-serif;
}
nav ul .right_side_nav .icons-1 .fa-search, nav ul .right_side_nav .icons-1 .fa-bars, nav ul .right_side_nav .icons-1 .fa-id-card {
  display: none;
}
nav ul .right_side_nav .icons-1 i, nav ul .right_side_nav .icons-2 i {
  margin: 0 7px;
}
nav ul .right_side_nav .icons-1 i:hover, nav ul .right_side_nav .icons-2 i:hover {
  color: #FFF;
}

@media (max-width: 800px) {
  header nav ul .search-section {
    display: none;
  }
  header nav ul .right_side_nav .section {
    display: none;
  }
  header nav ul .right_side_nav .icons-2 {
    display: none;
  }
  header nav ul .right_side_nav .icons-1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  header nav ul .right_side_nav .icons-1 .fa-search, header nav ul .right_side_nav .icons-1 .fa-bars, header nav ul .right_side_nav .icons-1 .fa-id-card {
    display: inline-block;
  }
}
/*
==================
End Of header
==================
*/
main {
  background: #FFF;
  height: 100vh;
  width: 100vw;
  display: flex;
}
main .left {
  height: 100%;
  width: 30%;
}
main .left #left-one {
  display: flex;
  flex-direction: column;
}
main .left #left-one code {
  all: unset;
  font-size: 13px;
  font-weight: 400;
}
main .left #left-one .name {
  margin: 12px 0 0 5px;
  font-weight: 600;
}
main .left #left-one .news-feed {
  margin: 12px 0 0 10px;
}
main .left #left-one .messenger {
  margin: 10px 0 0 10px;
}
main .left #left-one .watch {
  margin: 10px 0 0 10px;
}
main .left #left-two {
  display: flex;
  flex-direction: column;
}
main .left #left-two code {
  all: unset;
  font-size: 13px;
  font-weight: 400;
}
main .left #left-two .shortcuts {
  margin: 12px 0 0 5px;
  font-weight: 600;
}
main .left #left-two .learn {
  margin: 12px 0 0 10px;
}
main .left #left-two .code-hacking {
  margin: 10px 0 0 10px;
}
main .left #left-two .see-more {
  margin: 10px 0 0 10px;
  color: #89ABE3FF;
}
main .left #left-three {
  display: flex;
  flex-direction: column;
}
main .left #left-three code {
  all: unset;
  font-size: 13px;
  font-weight: 400;
}
main .left #left-three .explore {
  margin: 12px 0 0 5px;
  font-weight: 600;
}
main .left #left-three .welcome {
  margin: 12px 0 0 10px;
}
main .left #left-three .pages {
  margin: 10px 0 0 10px;
}
main .left #left-three .see-more {
  margin: 10px 0 0 10px;
  color: #89ABE3FF;
}
main .center {
  height: 100%;
  width: 70%;
}
main .center .create-post {
  width: 100%;
  background: #F4F4F4;
  padding: 5px 0 5px 10px;
  margin: 15px 0 0 0;
  border: 0.2px solid #787878;
  border-radius: 5px 5px 0 0;
  font-weight: 550;
  font-family: sans-serif;
}
main .right {
  height: 100%;
  width: 30%;
}

/*# sourceMappingURL=index.css.map */
