$formBgcolor: #F0F2F5;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    form {
        width: 100vw;
        height: 100vh;
        background-color: $formBgcolor;   
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .fb-name {
            color: #1877F2;
            padding: 40px 0 20px 0; 
            font-size: 50px;
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 0.9px;
        }
        
        .inner-form {
            background: #FFF;
        }
    }
}